$basic-ink-primary: #21212C;
$basic-ink-secondary: #7B7B9D;
$basic-bg-primary: #FFFFFF;
$basic-bg-secondary: #F6F6F8;

// line color
$line-line-primary: #F0F0F4;
$line-line-secondary: #E8E8EE;

$accent-primary: #013f36;
$accent-secondary: #4f4e4c;
$accent-bg: #8e839d;

$error-primary: #CC0021;
$error-bg: #FFF0F2;

$text-color: #000000;
$elevation-color: #C4C4C4;