$basic-bg-primary: #FFFFFF;
$basic-bg-secondary: #F6F6F8;
$accent-bg: #8e839d;
$basic-ink-primary: #21212C;
$accent-primary: #0f294b;
$basic-ink-secondary: #7B7B9D;
$accent-secondary: #184056;
$line-line-secondary: #E8E8EE;

